* {
    box-sizing: border-box;
    margin: 0;
}

/* EVERYTHING IN BODY */
body {
    display: flex;
    flex-direction: column;
    background-color: rgb(175, 199, 221);
    align-items: center;
}
main {
    display: inline-flex;
    width: 800px;
    justify-content: center;
}
button {
    background-color: rgb(31, 89, 112);
    color: rgb(240, 168, 30);
    font-size: 20px;
    width: 100px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 2px;
}

button:hover {
    background-color: rgba(31, 89, 112, 0.491);
}

button:active {
    color: rgba(235, 205, 247, 0.32);
}

i {
    color: rgb(240, 168, 30);
    margin-right: 6px;
    cursor: pointer;
}

/* EVERYTHING IN HEADER */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(18, 61, 78);
    height: 14vh;
    min-height: 90px;
    width: 100%;
    padding: 5px;
}

header > span {
    margin-right: 10px;
    font-size: 25px;
    font-weight: 900;
    color: rgb(235, 205, 247);
}

h1 {
    color: rgb(240, 168, 30);
    margin: auto;
    font-size: 50px;
}

/* FORMS FOR LOGIN/SIGNUP */
.user-form {
    background-color: aliceblue;
    padding: 2px;
    font-size: 20px;
    min-width: 11em;
    height: 70px;
    right: 20px;
    border-radius: 8px;
}
.formDiv,
.user-form {
    display: flex;
    flex-direction: column;
}

.namepassword-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.namepassword-form > button {
    margin-top: 10px;
    margin-bottom: 0px;
}
.formDiv > input {
    height: 25px;
    border-radius: 5px;
}

#error-login,
#error-signup {
    font-size: 15px;
    color: rgb(244, 7, 7);
}

/* CHAT/CHANNELS-containers */
#chatContainer,
#channelsContainer {
    border: 3px solid rgb(18, 61, 78);
    display: flex;
    flex-direction: column;
    width: 55em;
    height: 70vh;
    margin: 15px;
    padding: 15px;
    overflow: auto;
}

.messagesChannels {
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(18, 61, 78);
    border-radius: 8px;
    margin-bottom: 15px;
    height: min-content;
    padding: 8px 1em 8px 1em;
    font-size: 25px;
    justify-content: space-around;
}

.infoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.invisible {
    display: none;
}
