* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(141, 191, 240);
    align-items: center;
}
main {
    display: inline-flex;
    width: 80%;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(31, 89, 112);
    height: 14vh;
    width: 100%;
    padding: 5px;
}

header > span {
    margin-right: 10px;
    font-size: 25px;
    font-weight: 900;
    color: rgb(235, 205, 247);
}

h1 {
    color: rgb(240, 168, 30);
    margin: auto;
    font-size: 50px;
}
img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 30px;
    cursor: pointer;
}

#chatContainer,
#channelsContainer {
    border: 3px solid rgb(31, 89, 112);
    display: flex;
    flex-direction: column;
    width: 30em;
    height: 70vh;
    margin: 15px;
    padding: 15px;
    overflow: auto;
}

.messageContainer {
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(31, 89, 112);
    border-radius: 8px;
    margin-bottom: 15px;
    height: min-content;
    padding: 8px 1em 8px 1em;
    font-size: 25px;
    justify-content: space-around;
}

button {
    background-color: rgb(161, 137, 215);
    color: rgb(235, 205, 247);
    font-size: 20px;
    width: max-content;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 2px;
}

button:hover {
    background-color: rgb(145, 114, 218);
}

button:active {
    color: rgba(235, 205, 247, 0.32);
}

i{
    color: rgb(240, 168, 30);
    margin-right: 6px;
}