* {
    box-sizing: border-box;
    margin: 0;
}

/* EVERYTHING IN BODY */
body {
    display: flex;
    flex-direction: column;
    background-color: rgb(116, 132, 146);
    align-items: center;
}
main {
    display: inline-flex;
    width: 90%;
    justify-content: center;
}
button {
    background-color: rgb(31, 89, 112);
    color: rgb(240, 168, 30);
    font-size: 20px;
    width: 100px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 2px;
}

button:hover {
    background-color: rgba(31, 89, 112, 0.491);
}

button:active {
    color: rgba(235, 205, 247, 0.32);
}

/* EVERYTHING IN HEADER */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(18, 61, 78);
    height: 14vh;
    min-height: 90px;
    width: 100%;
    padding: 5px;
}

h1 {
    color: rgb(240, 168, 30);
    margin: auto;
    font-size: 50px;
}

.name-output {
    margin-right: 10px;
    font-size: 25px;
    font-weight: 900;
    color: rgb(240, 168, 30);
}

/* FORMS FOR LOGIN/SIGNUP */
.user-form {
    /* background-color: aliceblue; */
    padding: 2px;
    font-size: 20px;
    min-width: 11em;
    height: 70px;
    right: 20px;
    border-radius: 8px;
}
.formDiv,
.user-form {
    display: flex;
    flex-direction: column;
}

.namepassword-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgb(240, 168, 30)
}
.namepassword-form > button {
    margin-top: 10px;
    margin-bottom: 0px;
}
.formDiv > input {
    height: 25px;
    border-radius: 5px;
}

#error-login,
#error-signup,
#error-channel {
    font-size: 15px;
    color: rgb(244, 7, 7);
}

#chatContainer,
#channelsContainer {
    background-color: rgb(18, 61, 78);
    border: 3px solid rgb(18, 61, 78);
    display: flex;
    flex-direction: column;
    height: 50vh;
    margin: 15px;
    padding: 15px;
    overflow: auto;
}

.readWrite {
    width: 70%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

#new-message {
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea {
    border: 3px solid rgb(18, 61, 78);
}

.messagesChannels {
    display: flex;
    flex-direction: column;
    background-color: beige;
    border-radius: 8px;
    margin-bottom: 15px;
    height: min-content;
    padding: 8px 1em 8px 1em;
    font-size: 25px;
    justify-content: space-around;
}

.infoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: beige;
}

i {
    color: rgb(240, 168, 30);
    margin-right: 6px;
    cursor: pointer;
}

.messagesChannels > span > i {
    -webkit-text-stroke: 1px rgb(147, 147, 147);
}

.removed {
    font-style: italic;
    font-size: 18px;
}

.edited {
    font-style: italic;
    font-size: 12px;
}

/*EditContainer*/
.editContainer {
    display: flex;
    flex-direction: column;
    align-self: center;
    position: absolute;
    padding: 10px;
    height: 40vh;
    width: max-content;
    border: 3px solid rgb(18, 61, 78);
    background-color: beige;
    justify-content: space-evenly;
    align-items: center;
}

.createContainer {
    display: inline-flex;
    flex-direction: column;
    align-self: center;
    padding: 5px;
    height: max-content;
    width: 22em;
    border: 3px solid rgb(18, 61, 78);
    background-color: beige;
    align-items: center;
}

.radioDiv {
    display: inline-flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 5em;
    padding: 5px;
}

input[type='checkbox' i] {
    margin-bottom: 2px;
}

.createContainer > div > button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    width: 80px;
    height: 30px;
}

.createChannelForm {
    display: flex;
    flex-direction: row;
}

.invisible {
    display: none;
}
